div.normal_btn{
    display: block;
    height: 350px;
    width: 120px;
    text-decoration: none;
    background: #fdc689;
    color: #fff;
    line-height: 37px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 2px 4px #d4842c;
    user-select: none;
}
div.normal_btn:active{  /* クリック時の設定 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow:none;
    user-select: none;
}

div.selected_btn{
    display: block;
    height: 35px;
    width: 120px;
    text-decoration: none;
    background: #fd8989;
    color: #fff;
    line-height: 37px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 2px 4px #d4842c;
    user-select: none;
}

div.selected_color{
    display: block;
    height: 35px;
    width: 35px;
    text-decoration: none;
    user-select: none;
}

.menu a{
    display: inline;
    margin : 10px ;
    padding : 2px ;
    text-align: center;
    user-select: none;
}
.menu div{
    display: inline;
    margin : 10px ;
    padding : 2px ;
    text-align: center;
    user-select: none;
}

