div.normal_btn{
    display: block;
    height: 350px;
    width: 120px;
    text-decoration: none;
    background: #fdc689;
    color: #fff;
    line-height: 37px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 2px 4px #d4842c;
    user-select: none;
}
div.normal_btn:active{  /* クリック時の設定 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow:none;
    user-select: none;
}

div.selected_btn{
    display: block;
    height: 35px;
    width: 120px;
    text-decoration: none;
    background: #fd8989;
    color: #fff;
    line-height: 37px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 2px 4px #d4842c;
    user-select: none;
}

div.sp_normal_btn{
    display: block;
    height: 350px;
    width: 120px;
    text-decoration: none;
    background: #226add;
    color: #fff;
    line-height: 37px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 2px 4px #d4842c;
    user-select: none;
    border: double #000;
}
div.sp_normal_btn:active{  /* クリック時の設定 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow:none;
    user-select: none;
    border: double #000;
}

div.sp_selected_btn{
    display: block;
    height: 35px;
    width: 120px;
    text-decoration: none;
    background: #fd5252;
    color: #fff;
    line-height: 37px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 2px 4px #d4842c;
    user-select: none;
    border: double #000;
}


div.selected_color{
    display: block;
    height: 35px;
    width: 35px;
    text-decoration: none;
    user-select: none;
}

.menu a{
    display: inline;
    margin : 10px ;
    padding : 2px ;
    text-align: center;
    user-select: none;
}
.menu div{
    display: inline;
    margin : 10px ;
    padding : 2px ;
    text-align: center;
    user-select: none;
}

.menu label {
    color: #fff; 
    background-color:#fdc689;
    margin : 10px ;
    padding: 2px;
    line-height: 37px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 2px 4px #d4842c;
}

.tooltipBlock {
    position: relative;
}
span#colorToolTip {
    display: none;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: #545454;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.8;
    animation: fadeIn 0.6s;
    color: #FFF;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 4px #aaa);
}
span#colorToolTip:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid #545454;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}